@import url(../icomoon/style.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  color: #1D1F21;
  font-family: "proxima-nova";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova";
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 300; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477DCA;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #DDD;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #41454a; }

blockquote {
  border-left: 2px solid #DDD;
  color: #41454a;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #595f65;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f6f6;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "proxima-nova";
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #1D1F21;
  border-radius: 0;
  color: #1D1F21;
  background: #F8F8F8;
  font-family: "proxima-nova";
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 1.125em;
  width: 100%;
  font-size: 1.125em;
  font-weight: bold;
  outline: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    background: #1D1F21;
    color: #F8F8F8; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    background: #1D1F21;
    color: #F8F8F8;
    box-shadow: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.button, button,
input[type="submit"] {
  font-size: 2vh;
  text-align: center;
  line-height: 1.325;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5em 2.25em 0.5em 0;
  border: 0;
  border-top: 1px solid #1D1F21;
  color: #1D1F21;
  background: #F8F8F8;
  cursor: pointer;
  outline: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .button:hover, button:hover,
  input:hover[type="submit"] {
    padding: 0.5em 1.125em;
    background: #1D1F21;
    color: #F8F8F8; }

.arrow {
  display: block;
  height: 50px;
  width: 50px;
  background: #F8F8F8;
  border: 3px solid transparent;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease; }
  .arrow:before {
    font-family: "icomoon";
    color: #1D1F21;
    text-align: center;
    font-size: 2em;
    display: block;
    margin: 10px auto 0; }
  .arrow:hover {
    background: #1D1F21; }
    .arrow:hover:before {
      color: #F8F8F8; }

.down:before {
  content: '\e602'; }

.up:before {
  content: '\e601'; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#header {
  position: fixed;
  opacity: 0;
  z-index: 1000;
  width: 100vw;
  height: 10vh;
  margin: auto;
  background: #F8F8F8;
  -webkit-animation: fadeIn 1s ease-in 2.25s forwards;
  -moz-animation: fadeIn 1s ease-in 2.25s forwards;
  animation: fadeIn 1s ease-in 2.25s forwards; }
  #header h1 {
    display: none; }

.contact {
  background: #F8F8F8;
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.logo {
  text-align: left;
  position: relative;
  padding: 3vh;
  width: 100%; }

.icon-logo {
  font-size: 6vh;
  color: #1D1F21; }
  .icon-logo:hover {
    color: #1D1F21; }

@-webkit-keyframes topExpand {
  from {
    width: 0;
    opacity: 0; }
  to {
    width: calc(100vw - 35vw);
    opacity: 1; } }

@-moz-keyframes topExpand {
  from {
    width: 0;
    opacity: 0; }
  to {
    width: calc(100vw - 35vw);
    opacity: 1; } }

@keyframes topExpand {
  from {
    width: 0;
    opacity: 0; }
  to {
    width: calc(100vw - 35vw);
    opacity: 1; } }

.bar {
  display: none;
  position: absolute;
  opacity: 0;
  background: #1D1F21;
  height: 5px;
  top: 5vh;
  width: 100%;
  -webkit-animation: topExpand 1s ease-in-out 1s forwards;
  -moz-animation: topExpand 1s ease-in-out 1s forwards;
  animation: topExpand 1s ease-in-out 1s forwards; }
  .bar:before {
    display: block;
    border-top: 1px #1D1F21 solid;
    width: 5vw;
    position: absolute;
    top: -10px;
    right: 0;
    content: ""; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.deck {
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fadeIn 800ms ease-in-out 3.5s forwards;
  -moz-animation: fadeIn 800ms ease-in-out 3.5s forwards;
  animation: fadeIn 800ms ease-in-out 3.5s forwards;
  width: 100%;
  height: 100vh; }
  .deck .copy {
    margin: auto;
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10%; }
    .deck .copy h2 {
      font-size: 5vh;
      width: 100%; }
  .deck .branding {
    opacity: 0;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    width: 100%;
    z-index: 1;
    position: relative;
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%); }
    .deck .branding:before {
      color: #000; }
  .deck .background {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%; }
    .deck .background:before {
      content: " ";
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100vh;
      background: rgba(235, 235, 235, 0.85);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s; }
    .deck .background:hover:before {
      opacity: 1;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      transition: all 0.8s; }
    .deck .background:hover .branding {
      opacity: 1;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      transition: all 0.8s; }

@media screen and (min-width: 53.75em) {
  .deck:nth-child(3),
  .deck:nth-child(4),
  .deck:nth-child(6),
  .deck:nth-child(7),
  .deck:nth-child(9),
  .deck:nth-child(10) {
    width: 50%;
    float: left;
    height: 50vh; } }

.icon-yc {
  font-size: 20vh; }

.icon-idwt {
  font-size: 20vh; }

.icon-futo {
  font-size: 5vh; }

.icon-cel {
  font-size: 10vh; }

.icon-tk {
  font-size: 3vh; }

.icon-purebar {
  font-size: 10vh; }

.icon-jw {
  font-size: 7vh; }

.icon-gotts {
  font-size: 5vh; }

.icon-km {
  font-size: 10vh; }

.icon-ss {
  font-size: 3vh; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hidden {
  display: none; }

body {
  opacity: 0;
  -webkit-animation: fadeIn 300ms ease 800ms forwards;
  -moz-animation: fadeIn 300ms ease 800ms forwards;
  animation: fadeIn 300ms ease 800ms forwards;
  background: #F8F8F8; }

.container {
  background: #F8F8F8; }
  .container:hover {
    opacity: .5em; }

.arrows {
  position: absolute;
  z-index: 50;
  right: 0;
  bottom: 0;
  display: none; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#header {
  position: fixed;
  opacity: 0;
  z-index: 1000;
  width: 100vw;
  height: 10vh;
  margin: auto;
  background: #F8F8F8;
  -webkit-animation: fadeIn 1s ease-in 2.25s forwards;
  -moz-animation: fadeIn 1s ease-in 2.25s forwards;
  animation: fadeIn 1s ease-in 2.25s forwards; }
  #header h1 {
    display: none; }

.contact {
  background: #F8F8F8;
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.logo {
  text-align: left;
  position: relative;
  padding: 3vh;
  width: 100%; }

.icon-logo {
  font-size: 6vh;
  color: #1D1F21; }
  .icon-logo:hover {
    color: #1D1F21; }

@-webkit-keyframes topExpand {
  from {
    width: 0;
    opacity: 0; }
  to {
    width: calc(100vw - 35vw);
    opacity: 1; } }

@-moz-keyframes topExpand {
  from {
    width: 0;
    opacity: 0; }
  to {
    width: calc(100vw - 35vw);
    opacity: 1; } }

@keyframes topExpand {
  from {
    width: 0;
    opacity: 0; }
  to {
    width: calc(100vw - 35vw);
    opacity: 1; } }

.bar {
  display: none;
  position: absolute;
  opacity: 0;
  background: #1D1F21;
  height: 5px;
  top: 5vh;
  width: 100%;
  -webkit-animation: topExpand 1s ease-in-out 1s forwards;
  -moz-animation: topExpand 1s ease-in-out 1s forwards;
  animation: topExpand 1s ease-in-out 1s forwards; }
  .bar:before {
    display: block;
    border-top: 1px #1D1F21 solid;
    width: 5vw;
    position: absolute;
    top: -10px;
    right: 0;
    content: ""; }

.contact-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(248, 248, 248, 0.98);
  z-index: 1000;
  display: none; }
  .contact-modal.display {
    display: block; }

.contact-form {
  position: relative;
  display: block;
  padding: 5vh; }
  @media screen and (min-width: 53.75em) {
    .contact-form {
      width: 35%;
      margin-left: 32.5%;
      margin-top: 15vh;
      padding: 0; } }

.form-copy {
  margin-bottom: 1em; }

.close-contact-form {
  position: absolute;
  right: 12vw;
  top: 6vh; }
  @media screen and (min-width: 53.75em) {
    .close-contact-form {
      right: 0;
      top: 0; } }

.is-hidden {
  display: none; }

a {
  color: #1D1F21; }

body.night {
  background: #1D1F21;
  color: #F8F8F8; }
  body.night a {
    color: #F8F8F8; }
  body.night #header, body.night #footer {
    background: #1D1F21; }
  body.night .contact {
    background: #1D1F21; }
  body.night .container {
    background: #1D1F21; }
  body.night .icon-logo {
    color: #F8F8F8; }
    body.night .icon-logo:hover {
      color: #F8F8F8; }
  body.night .bar {
    background: #F8F8F8; }
  body.night .bar:before {
    border-color: #F8F8F8; }
  body.night .button, body.night button,
  body.night input[type="submit"] {
    border-color: #F8F8F8;
    color: #F8F8F8;
    background: #1D1F21; }
    body.night .button:hover, body.night button:hover,
    body.night input:hover[type="submit"] {
      background: #F8F8F8;
      color: #1D1F21; }
  body.night .deck .background:before {
    background: rgba(25, 25, 25, 0.85); }
  body.night .contact-modal {
    background: rgba(29, 31, 33, 0.98); }
  body.night .close-contact-form:before {
    color: #F8F8F8; }
