@import '../icomoon/style.css';

@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';

//Layout
@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/global';
@import 'layout/header';

//Blocks
@import 'blocks/contact';

body.night
{
	background:$fiveBlack;
	color: $fiveWhite;
	.container {
		background:$fiveBlack;
	}
	.icon-logo {
		color: $fiveWhite;
	    &:hover {
	        color:$fiveWhite;
	    }		
	}
	.bar {
		background:$fiveWhite;
	}
	.bar:before {
		border-color: $fiveWhite;
	}
	.button {
	    border-color:$fiveWhite;
	    color:$fiveWhite;
	    background:$fiveBlack;
	    &:hover {
	        background:$fiveWhite;
	        color:$fiveBlack;
	    }	
	}
	.deck .background:before {
		background:rgba(25, 25, 25, .85);
	}
	.contact-modal {
    	background:rgba($fiveBlack,.98);	
    }
	.close-contact-form {
		&:before {
        color:$fiveWhite;
    	}
	}
}
