@import '../icomoon/style.css';

@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';

//Layout
@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/global';
@import 'layout/header';

//Blocks
@import 'blocks/contact';

body.night {
	background:$fiveBlack;
	color: $fiveWhite;
}

.night {
	.container {
		background:$fiveBlack;
	}
	.icon-logo {
		color: $fiveWhite;
	}
	.bar {
		background:$fiveWhite;
	}
	.bar:before {
		border-color: $fiveWhite;
	}
	.button {
	    border-color:$fiveWhite;
	    color:$fiveWhite;
	    background:$fiveBlack;
	    &:hover {
	        background:$fiveWhite;
	        color:$fiveBlack;
	    }	
	}
}
