@include keyframes(bottomExpand) {
    from {
        width:0;
    }
    to {
        width:100%;
    }
}
@include keyframes(sideExpand) {
    from {
        height:0;
    }
    to {
        height:100%;
    }
}
.bars {
    position:fixed;
    display:block;
    height:100vh;
    width:100%;
    top:0;
    left:0;
    z-index:1;
    border-left:30vw solid $fiveWhite;
    border-right:5vw solid $fiveWhite;
    border-bottom:5vw solid $fiveWhite;
    border-top:25vh solid $fiveWhite;

    .inner {
        position:relative;
        width:100%;
        height:100%;
    }
    .bar {
        position:absolute;
        background:$fiveBlack;
    }
    .top {
        height:5px;
        top:-10vh;
        left:0;
        @include animation(bottomExpand 1s ease-in-out 1s forwards);
        &:before {
            display:block;
            border-top:1px $fiveBlack solid;
            width:5vw;
            position:absolute;
            top:-10px;
            right:0;
            content:"";
        }
    }
    // .bottom {
    //     height:5px;
    //     bottom:0;
    //     right:0;
    //     @include animation(bottomExpand 1s ease-in-out 1s forwards);
    // }
    // .left {
    //     @include animation(sideExpand 1s ease-in-out 1s forwards);
    //     height:0;
    //     top:0;
    //     left:0;
    //     width:5px;
    //     bottom:0;
    // }
    // .right {
    //     @include animation(sideExpand 1s ease-in-out 1s forwards);
    //     height:0;
    //     right:0;
    //     width:5px;
    //     bottom:0;
    // }
}