.deck {
	position:relative;
	overflow:hidden;
    opacity:0;
	@include animation(fadeIn 800ms ease-in-out 3.5s forwards);

	width:100%;
	height:100vh;
	display: table;

	.copy {
		width:100%;
	    display: table-cell;
	    vertical-align: middle;		
		h2 {
			font-size:5vh;
			width:100%;
		}
	}

	.overlay {
		display:none;
		content:" ";
		opacity:0;
		position:absolute;
		width:100%;
		height:100vh;
		background:rgba(255, 255, 255, .75);

		@include transition(all 0.8s);

		&:hover {
			opacity:.5;
			@include transition(all 0.8s);
		}		

	}
	.brand {
		
	}
	.background {
		position:absolute;
		background-attachment: fixed;
		background-size: cover;
		width:100%;
		height:100%;
		img {
			width:100%;
			height:100vh;			
		}
	}
}

.deck:nth-child(4),
.deck:nth-child(5) {
	width:50%;
	float:left;
}
.deck:nth-child(5),
.deck:nth-child(6) {
	width:50%;
	float:left;
	height:50vh;
}
