@include keyframes(fadeIn) {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.deck {
	position:relative;
	overflow:hidden;
    opacity:0;
	@include animation(fadeIn 800ms ease-in-out 3.5s forwards);
	width:100%;
	height:100vh;	

	.copy {
		margin:auto;
		display:block;
		text-align:center;
		position:relative;
		top: 50%;
		transform: translateY(-50%);		
		padding:0 10%;
		@include media($lrg) {
			padding:0 20%;
		}

		h2 {
			font-size:5vh;
			width:100%;
		}
	}
		
	.branding {
		opacity:0;
		@include transition(all 0.8s);
		width:100%;
		z-index:1;
		position:relative;
		margin:auto;
		text-align:center;
		top: 50%;
		transform: translateY(-50%);
		&:before {color: #000;}
	}
	.background {
		position:absolute;
		// background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		width:100%;
		height:100%;
		&:before {
			content:" ";
			opacity:0;
			position:absolute;
			width:100%;
			height:100vh;
			background:rgba(235, 235, 235, .85);
			@include transition(all 0.5s);				
		}
		&:hover {
			&:before {
				opacity:1;
				@include transition(all 0.8s);
			}
			.branding {
				opacity:1;
				@include transition(all 0.8s);
			}
		}		
	}
}

@include media($lrg) {
	.deck:nth-child(3),
	.deck:nth-child(4),
	.deck:nth-child(6),
	.deck:nth-child(7),
	.deck:nth-child(9),
	.deck:nth-child(10) {
		width:50%;
		float:left;
		height:50vh;
	}

}

.icon-yc {font-size:20vh;}
.icon-idwt {font-size:20vh;}
.icon-futo {font-size:5vh;}
.icon-cel {font-size:10vh;}
.icon-tk {font-size:3vh;}
.icon-purebar {font-size:10vh;}
.icon-jw {font-size:7vh;}
.icon-gotts {font-size:5vh;}
.icon-km {font-size:10vh;}
.icon-ss {font-size:3vh;}
