@include keyframes(fadeIn) {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.deck {
	position:relative;
	overflow:hidden;
    opacity:0;
	@include animation(fadeIn 800ms ease-in-out 3.5s forwards);
	width:100%;
	height:100vh;
	display: table;

	.copy {
		width:100%;
	    display: table-cell;
	    vertical-align: middle;		
		h2 {
			font-size:5vh;
			width:100%;
		}
	}
		
	.branding {
		opacity:0;
		@include transition(all 0.8s);
		width:100%;
		height:10%;
		top:45%;
		// background:red;
		z-index:1;
		position:relative;
		margin:auto;
		text-align:center;
		svg {
			width:20vw;
		}
	}
	.background {
		position:absolute;
		//background-attachment: fixed;
		background-size: cover;
		width:100%;
		height:100%;
		&:before {
			content:" ";
			opacity:0;
			position:absolute;
			width:100%;
			height:100vh;
			background:rgba(235, 235, 235, .85);
			@include transition(all 0.5s);				
		}
		&:hover {
			&:before {
				opacity:1;
				@include transition(all 0.8s);
			}
			.branding {
				opacity:1;
				@include transition(all 0.8s);
			}
		}		
	}
}

.deck:nth-child(4),
.deck:nth-child(5) {
	width:50%;
	float:left;
}
.deck:nth-child(5),
.deck:nth-child(6) {
	width:50%;
	float:left;
	height:50vh;
}

.icon-yc {font-size:20vh;}
.icon-futo {font-size:5vh;}
.icon-tk {font-size:3vh;}
.icon-purebar {font-size:10vh;}