body {
    opacity:0;
    @include animation(
        fadeIn
        300ms
        ease
        800ms
        forwards
    );
    background:$fiveWhite;
}

.container {
    margin:20%;
    @include outer-container;
    opacity:0;
    @include animation(fadeIn 800ms ease-in-out 3.5s forwards);
    background-color:$fiveWhite;
}
.hidden {display:none}
.arrows {
    position:absolute;
    z-index:50;
    right:0;
    bottom:0;
}
