body {
    opacity:0;
    @include animation(
        fadeIn
        300ms
        ease
        800ms
        forwards
    );
    background:$fiveWhite;
}
.container {
    @include outer-container;
    opacity:0;
    @include animation(fadeIn 800ms ease-in-out 3.5s forwards);
    background-color:$fiveWhite;
}
