@include keyframes(fadeIn) {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.hidden {display:none}

body {
    opacity:0;
    @include animation(fadeIn 300ms ease 800ms forwards);
    background:$fiveWhite;
}

.container {
    @include breakpoint($lrg) {
        padding-left:30vw;
    }
    background:$fiveWhite;
    &:hover {
        opacity:.5em;
    }
}
.arrows {
    position:absolute;
    z-index:50;
    right:0;
    bottom:0;
    display:none;
}

