#header {
    position:relative;
    top:1vh;
    opacity:0;
    z-index:100;
    @include animation(fadeIn 1s ease-in 2.25s forwards);
    h1 {
        position:absolute;
        opacity:0;
    }
}

.contact {
    position:fixed;
    left:15px;
    bottom:15px;
}
.logo {
    position:fixed;
    left:15px;
    top:10vh;
}
