@include keyframes(fadeIn) {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#header {
    position:fixed;
    opacity:0;
    z-index:1000;
    width:100vw;
    height:13vh;
    margin:auto;
    @include breakpoint($lrg) {    
        height:100vh;
        width:30vw;
    }
    @include animation(fadeIn 1s ease-in 2.25s forwards);
    h1 {
        display:none;
    }
}

$left-margin: 11vw;

.contact {
    background:$fiveBlack;
    padding:1em;
    @include breakpoint($lrg) {    
        position:absolute;
        left:$left-margin;
        bottom:20vh;
        width:auto; 
        height:auto;
        padding:0;
    }    
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
}
.logo {
    text-align:left;
    position:relative;
    padding:3vh;
    @include breakpoint($lrg) {    
        text-align:center;
        top:20vh;
        padding:0;
    }
    width:100%;
}
.icon-logo {
    font-size:6vh;
    @include breakpoint($lrg) {    
        font-size:10vh;
    }    
    color:$fiveBlack;
    &:hover {
        color:$fiveBlack;        
    }
}
@include keyframes(topExpand) {
    from {
        width:0;
        opacity:0;
    }
    to {
        width:unquote("calc(100vw - 35vw)");
        opacity:1;
    }
}

.bar {
    display:none;
    @include breakpoint($lrg) {
        display:block;
    }

    position:absolute;
    opacity:0;
    background:$fiveBlack;
    height:5px;
    top:15vh;
    width:100%;
    @include animation(topExpand 1s ease-in-out 1s forwards);
    &:before {
        display:block;
        border-top:1px $fiveBlack solid;
        width:5vw;
        position:absolute;
        top:-10px;
        right:0;
        content:"";
    }
}
