.third-deck {-skrollr-animation-name:deckDrawer}
.third-deck .copy {-skrollr-animation-name:thirdDeck_Copy;}
@-skrollr-keyframes thirdDeck_Copy {
    skrollr-#{top} {
         opacity:0;
    }
    skrollr-#{center} {
        opacity:1;
    }
    skrollr-#{bottom} {
        opacity:0;
    }
}
.third-deck .cover{-skrollr-animation-name:thirdDeck_Cover;}
@-skrollr-keyframes thirdDeck_Cover {
    skrollr-#{top} {
        height:100%;
    }
    skrollr-#{center} {
        height:0%;
    }
}
.third-deck .background {-skrollr-animation-name:thirdDeck_Background;}
@-skrollr-keyframes thirdDeck_Background {
    skrollr-#{500-top} {
        width:120%;
        height:120%;
        margin-left:-10%;
        margin-top:-10%;
    }
    skrollr-#{-500-bottom} {
        width:100%;
        height:100%;
        margin-left:0;
        margin-top:0;
    }
}
