.third-deck .copy {-skrollr-animation-name:thirdDeck_Copy;}
@-skrollr-keyframes thirdDeck_Copy {
    skrollr-#{300-top} {
    }
    skrollr-#{bottom-top} {
        opacity:0;
    }
    skrollr-#{center} {
        opacity:1;
    }
    skrollr-#{700-center} {
        opacity:1;
    }
    skrollr-#{top-bottom} {
        opacity:0;
    }
}
.third-deck .cover{-skrollr-animation-name:thirdDeck_Cover;}
@-skrollr-keyframes thirdDeck_Cover {
    skrollr-#{bottom-top} {
        height:100%;
    }
    skrollr-#{center} {
        height:0%;
    }
}
.third-deck .background {-skrollr-animation-name:thirdDeck_Background;}
@-skrollr-keyframes thirdDeck_Background {
    skrollr-#{500-top} {
        width:120%;
        height:120%
    }
    skrollr-#{-500-bottom} {
        width:100%;
        height:100%
    }
}
