.fourth-deck {-skrollr-animation-name:deckDrawer}
.fourth-deck .copy {-skrollr-animation-name:fourthDeck_Copy;}
@-skrollr-keyframes fourthDeck_Copy {
   skrollr-#{top} {
         opacity:0;
    }
    skrollr-#{center} {
        opacity:1;
    }
    skrollr-#{bottom} {
        opacity:0;
    }
}

.fourth-deck .background {-skrollr-animation-name:fourthDeck_Background;}
@-skrollr-keyframes fourthDeck_Background {
   skrollr-#{500-top} {
        width:120%;
        height:120%;
        margin-left:-10%;
        margin-top:-10%;
    }
    skrollr-#{-500-bottom} {
        width:100%;
        height:100%;
        margin-left:0;
        margin-top:0;
    }
}
