.fourth-deck {
    position:relative;
    z-index:-10;
}
.fourth-deck .copy {
    opacity:0;
    position:fixed;
    width:60vw;
    left:20vw;
    top:45vh;
    padding:5vh;
    background:white;
}
.fourth-deck .background {
    width:120%;
    height:120%;
    position:fixed;
    left:0;
    top:0;
    background-image:url(../images/placeholder_03.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;

}
.fourth-deck .cover {
    position:fixed;
    left:0;
    top:0;
    opacity:1;
    background:$fiveWhite;
    width:100%;
    height:100%;
    overflow:hidden;
}