button,
input[type="submit"] {
  @extend .button;
}
.button {
    font-size:.8em;
    text-align:center;
    line-height:1.325;    
    display:inline-block;
    font-weight:600;
    text-transform:uppercase;
    padding:0.5em 1.125em;
    border:5px solid $fiveBlack;
    color:$fiveBlack;
    background:$fiveWhite;
    cursor:pointer;
    outline:0;
    @include transition(all 200ms ease-in-out);
    &:hover {
        background:$fiveBlack;
        color:$fiveWhite;
    }
}