button,
input[type="submit"] {
  @extend .button;
}
.button {
    font-size:2vh;
    text-align:center;
    line-height:1.325;    
    display:inline-block;
    font-weight:600;
    text-transform:uppercase;
    padding:0.5em 2.25em 0.5em 0;
    border:0;
    border-top:1px solid $fiveBlack;
    color:$fiveBlack;
    background:$fiveWhite;
    cursor:pointer;
    outline:0;
    @include transition(all 200ms ease-in-out);
    &:hover {
        padding:0.5em 1.125em;
        background:$fiveBlack;
        color:$fiveWhite;
    }
}

.arrow {
    display:block;
    @include size(50px);
    background:$fiveWhite;
    border:3px solid transparent;
    text-align:center;
    @include transition(all 200ms ease);
    &:before {
        font-family:"icomoon";
        color:$fiveBlack;
        text-align:center;
        font-size:2em;
        display:block;
        margin:10px auto 0;
    }
    &:hover {
        background:$fiveBlack;
        &:before {
            color:$fiveWhite;
        }
    }
}
.down {
    &:before {
        content:'\e602';
    }
}
.up {
    //display:none;
    &:before {
        content:'\e601'
    }
}