// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
$column: 50px;
$gutter: 32px;
$grid-columns: 16;
$max-width: em(1280);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$medium-screen: em(640);
$large-screen: em(860);

$med: new-breakpoint(min-width $medium-screen 4);
$lrg: new-breakpoint(min-width $large-screen 8);
