.first-deck .copy {-skrollr-animation-name:firstDeck_copy;}
@-skrollr-keyframes firstDeck_copy {
    skrollr-#{top} {
        margin-top:0vh;
        opacity:1;
    }
    skrollr-#{bottom} {
        margin-top:-5vh;
        opacity:0;
    }
}
