.contact-modal {
    position:fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    background:rgba($fiveWhite,.98);
    z-index:1000;
    display:none;
    &.display {
        display:block;
    }
}
.contact-form {
    position:relative;
    display:block;
    padding:5vh;
    @include media($lrg) {
        width:35%;
        margin-left:32.5%;
        margin-top:15vh;        
        padding:0;
    }
}
.form-copy {
    margin-bottom:1em;
}
.close-contact-form {
    position:absolute;
    right:12vw;
    top:6vh;
    @include media($lrg) {
        right:0;
        top:0;
    }
}

.is-hidden {
    display:none;
}