.contact {
    position:fixed;
    left:15px;
    top:15px;
}
.logo {
    position:fixed;
    right:15px;
    top:15px;
}

@-skrollr-keyframes activateModal {
	skrollr-#{bottom-top} {
		display:none;
	}
	skrollr-#{top} {
		display:block;
	}
}
#contactModal {-skrollr-animation-name:activateModal}