@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?4kshh4');
    src:    url('fonts/icomoon.eot?4kshh4#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff2?4kshh4') format('woff2'),
        url('fonts/icomoon.ttf?4kshh4') format('truetype'),
        url('fonts/icomoon.woff?4kshh4') format('woff'),
        url('fonts/icomoon.svg?4kshh4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cel:before {
    content: "\e902";
}
.icon-idwt:before {
    content: "\e903";
}
.icon-purebar:before {
    content: "\e904";
}
.icon-yc:before {
    content: "\e905";
}
.icon-tk:before {
    content: "\e906";
}
.icon-futo:before {
    content: "\e907";
}
.icon-logo:before {
    content: "\e901";
}
.icon-cross:before {
    content: "\e900";
}

