
.second-deck {-skrollr-animation-name:deckDrawer}

.second-deck .copy {-skrollr-animation-name:secondDeck_Copy;}
@-skrollr-keyframes secondDeck_Copy {
    skrollr-#{center-top} {
        opacity:0;
    }
   skrollr-#{center} {
        opacity:1;
   }
    skrollr-#{bottom} {
        opacity:0;
    }
}
.second-deck .cover{-skrollr-animation-name:secondDeck_Cover;}
@-skrollr-keyframes secondDeck_Cover {
    skrollr-#{bottom-top} {
        height:100%;
    }
    skrollr-#{center} {
        height:0%;
    }
}


